@charset "utf-8";

/* 초기화 */
* {
	margin: 0px;
	padding: 0px;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}

/* 숨김 컨텐츠 */
/* left를 음수값을 주어서 웹브라우저 밖으로 이동시켜 보이지 않게 함 */
.hidden {
  position: absolute;
  left: -9999em;
}

/* skip menu */
/* 건너뛰기 링크 */
#skipNav {
  position: absolute;
  left: -9999em;
}

#skipNav:focus {
  left: 0;
  padding: 5px 15px;
  color: #fff;
  background-color: #000;
  z-index: 10;
  outline: 0;
}

/* 헤더영역 */
header {
  position: fixed;
	width: 100%;
  height: 100px;
  z-index: 10;
}

#header {
  width: 100%;
  box-sizing: border-box;
  height: 100px;
	border-bottom: 1px solid #ddd;
  background-color: #fff;
}

header .inner {
  width: 1280px;
  height: 100px;
	margin: 0px auto;
  position: relative;
}

/* 로고 */
header .inner h1 {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  background-color: #d21410;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  left: -80px;
  width: 200px;
  height: 120px;
  margin-top: 20px;
  z-index: 20;
  animation: trancelogo 2.5s alternate 2;
  animation-delay: 0.5s;
}
@keyframes trancelogo {from {width: 200px;}to {width: 500px;}}

header .inner h1 a {
  display: inline-block;
  width: 200px;
  text-indent: 20px;
  font-size: 24px;
  line-height: 120px;
	color: #fff;
}

header .inner h1 a::after {
  content: "";
  width: 5px;
  height: 90%;
  position: absolute;
  top: 5px;
  left: 200px;
  border-radius: 50%;
  background: linear-gradient(to right, #d21410 0%, #eee 100%);
  z-index: 50;
}


header .inner span {
  display: inline-block;
  padding-left: 18px;
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}


/* 탑메뉴 */
header .inner .util {
  position: absolute;
	top: 30px;
	right: 0px;
}

header .inner .util li {
  float: left;
}
header .inner .util li:hover > a {
  color: darkred;
}

header .inner .util li a {
  display: block;
	font: 12px "arial";
	color: #999;
	padding: 0px 5px;
}

.util li a::after {
  content: ":";
  padding-left: 11px;
}

.util li:last-child a::after {
  content: "";
}

/* 메인메뉴 */
#gnb {
  position: absolute;
  width: 960px;
  left: 200px;
  top: 55px;
  margin-left: 30px;
}

#gnb > li {
  float: left;
  top: 0px;
  padding-bottom: 45px;
  margin-right: 60px;
}

#gnb > li > a {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color:#555;
  text-align: center;
  line-height: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}

#gnb:hover .bigmenu {
  display: block;
  transition: height 0.1s;
}

#gnb > li:hover > a {
  border-bottom: 4px solid #d21410;
  border-radius: 0 0 3px 3px;
  color: #d51410;
  transition: 0.5s ease; 
}

#gnb > li:hover .subMenu > li {
  display: inline-block;
}

.bigmenu {
  position: fixed;
  display: none;
  margin-top: 0px;
  top: 100px;
  left: 0px;
  width: 100%;
  height: 40px;
  z-index: -1;
  background-color: #fff;
  overflow: hidden;
  animation: big 0.5s ease;
}
@keyframes big {from {height: 0px;}to {height: 40px;}}

.subMenu {
  position: absolute;
  margin-top: 5px;
  margin-left: -8px;
  z-index: 0;
  text-align: left;
}

.subMenu li {
  display: none;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  line-height: 30px;
}

.subMenu li:hover a{
 color: darkred;
 font-weight: bold;
}

.subMenu li a {
  color: #555;
}
.subMenu li a::before {
  content: "｜";
  margin-right: 8px;
  color: #eee;
}
.subMenu li:first-child a::before {
  content: "";
}


/* 비주얼 영역 */
#visual {
  position: relative;
  width: 100%;
  top: 100px;
}
#sideQickMenu {
  position: absolute;
  top: 30px;
}

#contens {
  position: relative;
}